{% extends "base.html" %}


{% block content %}
<div class="container">
    <h2>BENVENUTO</h2>
    <i><h6>Se è la prima volta che arrivi, clicca <b>registrazione</b>, altrimenti clicca <b>accedi</b><br><b>NON È POSSIBILE NAVIGARE IN QUESTO SITO SENZA UN'ACCOUNT</b></i><br><br>Questo sito è attualmente ottimizzato per una visualizzazione da pc fissi o portatili pertanto <b>la visualizzazione su altri dispositivi potrebbe non essere ottimale</b></h6>
    <div class="row justify-content-around">
        <div class="col-4">
            <a href="/login" id="imgacc"><img src="https://i.ibb.co/FbsMMg2/Acc2.png"></a>
        </div>
     <div class="col-4">
        <a href="/register" id="imgreg"><img src="https://i.ibb.co/bmYHvC1/regist15.png"></a>
    </div>
  </div>
</div>
{% endblock content %}
